<!doctype html>
<html>
	<head>
	</head>
	<body>
		<form action="http://localhost:8080/signup" method="post">
			<input type="text" id="nombre" name="nombre" value="Dan">
			<input type="text" id="apellidos" name="apellidos" value="Mendieta">
			<input type="text" id="email" name="email" value="danmendieta@me.com">
			<input type="text" id="password" name="password" value="12345">
			<input type="text" id="cp" name="cp" value="58000">
			<input type="text" id="horario" name="horario" value="2">
			<input type="text" id="tarjeta" name="tarjeta" value="0000000000000000">
			<input type="submit">
		</form>
	</body>
</html>